{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Contact Us</title>
{% endblock title %}
{% block content %}
<section class="contact">
    <div class="about-content">
        <img src="{% static 'images/blouse.jpg' %}" alt="image1">
        <h1>Contact Us</h1>
    </div>
    <div class="contact-info">
        <div class="contact-map">
            <a href="https://maps.app.goo.gl/owxtjt84sxfvwGn19">
                <img src="{% static 'images/map.jpg' %}" alt="image1">
            </a>
        </div>
        <div class="contact-form">
            <div class="contact-header">
                <h1>Contact form</h1>
                <h2>Get In Touch</h2>
            </div>
            <form action="" class="form">
                <input type="text" name="name" placeholder="Your Name">
                <input type="email" name="email" placeholder="Your Email">
                <input type="text" name="subject" placeholder="Subject">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                <input type="submit" value="Submit" class="submit">
            </form>
        </div>
    </div>
</section>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}