{% extends "base.html" %}
{% load static %}
{% block title %}
<title> Sign-Up</title>
{% endblock title %}

{% block content %}
<div class="create-cont">
    <div class="container">
        <div class="row">
            <form method="POST" action="">
                {% csrf_token %}
                <section class="form-container">
                    <div class="form-group">
                        <h1 class="text">Fill the Form Below to Update Password</h1>
                        {% if form.errors%}
                            <p class="color" style="color: white; background-color: red; width: 270px; padding: 20px;">Please Check Your Entries and try again</p>
                        {% endif %}
                                {{form.new_password1}}
                                {{form.new_password2}}
        
                        <div class="account-auth">
                            <button type="submit" class="btn">Update Password</button>
                            <a class="login-link" href=" {% url "shopingcentre:update_profile" %}">Edit Profile</a>
                        </div>
                    </div>
                </section>
                <div class="update">
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}